# Binarios y ejecutables
# Se ignoran los archivos terminados en .exe, .exe~, .dll, .so, .dylib y binarios de Go
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
dist/
proyecto

# Herramientas de IDE y editores
.vscode/
.idea/
*.swp
*.swo

# Archivos de entorno y secretos (¡Muy importante!)
.env
*.local

# Logs y archivos temporales
*.log